// Microsoft Visual C++ 6.0 generated resource script (hand-maintained)
#include "resource.h"
#include "afxres.h"

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_SAMPLE_FORM, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 393
        TOPMARGIN, 7
        BOTTOMMARGIN, 413
    END
END
#endif

IDR_MAINFRAME MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New\tCtrl+N",     ID_FILE_NEW
        MENUITEM "&Open\tCtrl+O", ID_FILE_LOAD_EMP
        MENUITEM SEPARATOR
        MENUITEM "&Save\tCtrl+S",     ID_FILE_SAVE_EMP
        MENUITEM SEPARATOR
        MENUITEM "E&xit",            ID_APP_EXIT
    END
END

IDR_MAINFRAME ACCELERATORS MOVEABLE PURE
BEGIN
    "N", ID_FILE_NEW,        VIRTKEY, CONTROL
    "O", ID_FILE_LOAD_EMP,   VIRTKEY, CONTROL
    "S", ID_FILE_SAVE_EMP,   VIRTKEY, CONTROL
END

STRINGTABLE DISCARDABLE
BEGIN
    IDR_MAINFRAME "\nEmployeeSample\nEmployee\n\n.emp\nEmployeeSample.Document\nEmployee sample"
END

IDD_SAMPLE_FORM DIALOGEX 0, 0, 400, 420
STYLE DS_SETFONT | WS_CHILD | WS_VISIBLE | WS_CLIPCHILDREN
FONT 9, "MS UI Gothic"
BEGIN
    GROUPBOX        "Basic information",IDC_STATIC,7,7,386,132
    LTEXT           "Employee no.",IDC_STATIC,14,24,40,8
    EDITTEXT        IDC_EDIT_EMPNO,58,22,88,12,ES_AUTOHSCROLL
    LTEXT           "Name",IDC_STATIC,14,42,40,8
    EDITTEXT        IDC_EDIT_NAME,58,40,200,12,ES_AUTOHSCROLL
    LTEXT           "Age",IDC_STATIC,14,60,40,8
    EDITTEXT        IDC_EDIT_AGE,58,58,48,12,ES_AUTOHSCROLL
    LTEXT           "Gender",IDC_STATIC,14,78,40,8
    CONTROL         "Male",IDC_RADIO_MALE,"Button",BS_AUTORADIOBUTTON | WS_GROUP,58,76,48,10
    CONTROL         "Female",IDC_RADIO_FEMALE,"Button",BS_AUTORADIOBUTTON,120,76,48,10
    LTEXT           "Notes",IDC_STATIC,14,96,40,8
    EDITTEXT        IDC_EDIT_MEMO,58,94,320,40,ES_MULTILINE | ES_WANTRETURN | WS_VSCROLL

    GROUPBOX        "Work information",IDC_STATIC,7,144,386,150
    CONTROL         "Active employee",IDC_CHECK_ACTIVE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,14,160,60,10
    CONTROL         "Email notifications",IDC_CHECK_NOTIFY,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,160,100,10
    LTEXT           "Location",IDC_STATIC,14,178,48,8
    COMBOBOX        IDC_COMBO_PREF,66,176,120,100,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Language",IDC_STATIC,14,196,48,8
    COMBOBOX        IDC_COMBO_LANG,66,194,120,100,CBS_DROPDOWN | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Priority (1-10)",IDC_STATIC,200,178,60,8
    EDITTEXT        IDC_SPIN_PRIORITY,266,176,36,12,ES_AUTOHSCROLL
    LTEXT           "Department",IDC_STATIC,14,216,48,8
    LISTBOX         IDC_LIST_ITEMS,66,214,120,64,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "Employment",IDC_STATIC,200,200,48,8
    CONTROL         "Full-time",IDC_RADIO_FULL_TIME,"Button",BS_AUTORADIOBUTTON | WS_GROUP,200,214,52,10
    CONTROL         "Contract",IDC_RADIO_CONTRACT,"Button",BS_AUTORADIOBUTTON,260,214,44,10
    CONTROL         "Part-time",IDC_RADIO_PART_TIME,"Button",BS_AUTORADIOBUTTON,314,214,44,10

    GROUPBOX        "Project history",IDC_STATIC,7,298,386,72
    CONTROL         "",IDC_GRID_ITEMS,"SysListView32",LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_BORDER | WS_TABSTOP,14,312,372,52

    LTEXT           "",IDC_STATIC_STATUS,7,376,386,16,SS_NOPREFIX | SS_LEFTNOWORDWRAP

    PUSHBUTTON      "Save",IDC_BTN_OK,7,396,50,14
    PUSHBUTTON      "Reset",IDC_BTN_CANCEL,62,396,60,14
    PUSHBUTTON      "New",IDC_BTN_NEW,128,396,50,14
END

#ifndef APSTUDIO_INVOKED

/////////////////////////////////////////////////////////////////////////////
#endif
